# Git
.git
.gitignore

# Dependencies
node_modules

# Build outputs
dist
coverage

# Development
*.log
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test files
**/*.test.ts
**/*.spec.ts
vitest.config.ts

# Documentation
*.md
!README.md
